<?xml version="1.0"?>
<!--xml-->
<launch>
  <arg name="ns" default="/"/>
  <arg name="frame_prefix" value=""/>
  <arg name="rviz" default="false"/>   
  <group ns="$(arg ns)">
    <!-- Arduino Mega 2560-->
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial">
      	<param name="port" value="/dev/ttyACM0"/>
    </node>
	  <!-- teleop_twist_keyboard -->
     <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen">
		  <param name="speed" value="0.04" type="double"/>
		  <param name="turn" value="0.08" type="double"/>
    </node>
  
    <node pkg="robot_navigation_control" type="message_translate.py" name="message_translate"/>
    
    <!-- lidar -->
    <!--include file="$(find robot_navigation_control)/launch/lidar.launch"/-->
   
    <node name="delta_2b_lidar" pkg="delta_2b_lidar"  type="delta_2b_lidar_node" output="log">
      <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
      <!--param name="frame_id" type="string" value="laser"/-->
      <!--param name="frame_id" type="string" value="$(arg frame_prefix)laser"/-->
      <param name="frame_id" type="string" value="laser"/>
    </node>
    
    <include file="$(find robot_navigation_control)/launch/agv_laser_filters.launch" />
    <!--node pkg="tf" type="static_transform_publisher" name="lidar_base_tf" args="0.07 0 0 0 0 0.7071 0.7071 $(arg frame_prefix)base_link $(arg frame_prefix)laser 100" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="lidar_base_tf" args="0.07 0 0 0 0 0.688 0.725 $(arg frame_prefix)base_link $(arg frame_prefix)laser 100" /-->   
    <!--node pkg="tf" type="static_transform_publisher" name="lidar_base_tf" args="0.07 0 0 0 0 0.688 0.725 base_link laser 100" /--> 
    <node pkg="tf" type="static_transform_publisher" name="lidar_base_tf" args="0.07 0 0 0 0 0.688 0.725 base_link laser 100" /> 
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_navigation_control)/rviz/default.rviz"/>
  </group>
</launch>
